<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ fontName }}</title>
    <style>

        body {
            font-family: sans-serif;
            margin: 0;
            padding: 10px 20px;
            text-align: center;
        }

        {{{ styles }}}
    </style>
</head>
<body>

    <h1>{{ fontName }}</h1>

    {{!-- {{# each names }}

        <div className="preview">
            <span className="inner">
                <{{ ../baseTag }} className="icon icon--{{ this }}" />
            </span>
            <br />
            <span className="label">{{ this }}</span>
        </div>

    {{/ each }} --}}

</body>
</html>
